In [1]:
x = 50

In [2]:
c = 80

In [3]:
def sum():
    sum = x + c
    return sum
print(sum())

130

In [1]:
w = 40

In [7]:
Ew = 500

In [8]:
age = 90

In [9]:
print(type(age))

<class 'int'>

In [10]:
print(age)

90

In [11]:
name =("evans")

In [12]:
print(name)

evans

In [13]:
print(type(name))

<class 'str'>

In [1]:
numbers_of_student = 100

In [2]:
print(numbers_of_student)

100

In [3]:
print(numbers_of_student)

100

In [1]:
print(type)

<class 'type'>

In [2]:
age = 45

In [3]:
print(type(age))

<class 'int'>

In [4]:
print(age)

45

In [6]:
name_of_student = "evans"

In [7]:
print(type(name_of_student))

<class 'str'>

In [8]:
print(name_of_student)

evans

In [9]:
Overdraft_payment = 40.000

In [10]:
print(type(Overdraft_payment))

<class 'float'>

In [11]:
print(Overdraft_payment)

40.0

In [14]:
gender_male = True

In [15]:
print(type(gender_male))

<class 'bool'>

In [16]:
print(gender_male)

True

In [1]:
age = 12
height = 7.5
is_married = True
name = "evans"

In [2]:
print(age)

12

In [3]:
print(height )

7.5

In [4]:
print(is_married)

True

In [5]:
print(name)

evans

In [6]:
print(type(name))

<class 'str'>

In [7]:
print(type(height))

<class 'float'>

In [8]:
print(type(is_married))

<class 'bool'>

In [13]:
is_student = False
salary = 800


if (is_student == False) and (salary >= 2000):
    print("you are eligible for this loan application")
else:
    print("you are not eligible for this loan application")

you are not eligible for this loan application

In [1]:
student_status = input("Are you a student, True or False:   ")
    
salary = int(input("what is your monthly salary after tax:  "))

if (student_status == "False") and (salary >= 2000):
    print("you are eligible for this loan application")
else:
    print("you are not eligible for this loan application")

Are you a student, True or False:   True
what is your monthly salary after tax:  3000
you are not eligible for this loan application

In [2]:
n = (1)

In [3]:
print(n)

1

In [4]:
print(type(n))

<class 'int'>

In [15]:
import calendar

In [16]:
cal = calendar.month(2023, 4)

In [17]:
print("here is the calendar:  ")

here is the calendar:

In [18]:
print(cal)

     April 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [19]:
import calendar

In [20]:
cal = calendar.month(1993, 7)

In [21]:
print("here is the calendar:  ")

here is the calendar:

In [22]:
print(cal)

     July 1993
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [1]:
import time

In [2]:
print(time)

<module 'time' (built-in)>

In [3]:
print(type(time))

<class 'module'>

In [9]:
amount_of_bank_loan_allowed = 20000

student_age_allowed_to_apply = 20

input("how old are you    ")

if student_age_allowed_to_apply <= 20:
    print("you are not qualified for this loan")
    
else:
    
    print("Congratulations you are qualified to apply for this loan")

how old are you    20
you are not qualified for this loan

In [18]:
product_price = 10,000

customer_payment = 5,000

input("how much do you have for your product ")


if customer_payment>=product_price:
    
    print("you are permited to purchase this item" )
    
else:
    print("your request has been Denied")

how much do you have for your product 10,000
your request has been Denied

In [2]:
loan_amount_allowed = 20,000
age_allowed_to_apply_for_loan = 25
input("how old are you  ")
if age_allowed_to_apply_for_loan > 25:
    print("you are not parmitted to appkly for this loan")
else:
    print("you can proceed with your loan applications")

how old are you  24
you can proceed with your loan applications

In [1]:
names_of_students = "evans,tope,abbey,tobi,ope"

In [2]:
print(names_of_students)

evans,tope,abbey,tobi,ope

In [4]:
print(type(names_of_students))

<class 'str'>

In [1]:
payment = 50,0000

In [2]:
print(type(payment))

<class 'tuple'>

In [3]:
print(payment)

(50, 0)

In [4]:
payment = 20.0

In [5]:
print(type(payment))

<class 'float'>

In [1]:
age = 12
height = 7.5
is_married = True
name = "evans"

In [2]:
print(age)

12

In [3]:
print(height)

7.5

In [4]:
print(is_married)

True

In [5]:
print(name)

evans

In [7]:
print(type(name))

<class 'str'>

In [8]:
print(type(height))

<class 'float'>

In [10]:
print(type(is_married))

<class 'bool'>

In [13]:
numbers = [30,1,9,78,40,32,49,21,43]

In [14]:
print(numbers)

[30, 1, 9, 78, 40, 32, 49, 21, 43]

In [15]:
numbers.append(100)

In [16]:
print(numbers)

[30, 1, 9, 78, 40, 32, 49, 21, 43, 100]

In [17]:
numbers.remove(1)

In [18]:
print(numbers)

[30, 9, 78, 40, 32, 49, 21, 43, 100]

In [19]:
print(type(numbers))

<class 'list'>

In [20]:
names_of_students_in_class_today = {"evans,seyi,foli,tobi,tosin"}

In [21]:
print(type(names_of_students_in_class_today))

<class 'set'>

In [24]:
print(names_of_students_in_class_today)

{'evans,seyi,foli,tobi,tosin'}

In [25]:
names_of_debtors = ("watkins, adekunle,adeyemi,kunle")

In [26]:
print(type(names_of_debtors))

<class 'str'>

In [28]:
print(names_of_debtors)

watkins, adekunle,adeyemi,kunle

In [1]:
total_amount_of_loan_collected_by_customers = [890, 32.98, 124.80, 632.00, 267.0, 458.09, 111.894, 500.89, 490.43]

In [2]:
print(type(total_amount_of_loan_collected_by_customers))

<class 'list'>

In [4]:
print(total_amount_of_loan_collected_by_customers)

[890, 32.98, 124.8, 632.0, 267.0, 458.09, 111.894, 500.89, 490.43]

In [8]:
print(total_amount_of_loan_collected_by_customers[0:4])

[890, 32.98, 124.8, 632.0]

In [12]:
print(total_amount_of_loan_collected_by_customers[0:7])

[890, 32.98, 124.8, 632.0, 267.0, 458.09, 111.894]

In [13]:
total_amount_of_loan_collected_by_customers.append(800.87)

In [14]:
total_amount_of_loan_collected_by_customers.append(1000.5)

In [15]:
print(total_amount_of_loan_collected_by_customers)

[890, 32.98, 124.8, 632.0, 267.0, 458.09, 111.894, 500.89, 490.43, 800.87, 1000.5]

In [16]:
total_amount_of_loan_collected_by_customers.remove(890)

In [17]:
print(total_amount_of_loan_collected_by_customers)

[32.98, 124.8, 632.0, 267.0, 458.09, 111.894, 500.89, 490.43, 800.87, 1000.5]

In [1]:
weight = input('what is your weigth  : ')
length = input('what is your length  : ')
weight = float(weight)/ 0.45
length = int(length) * 100
print(weight)
print(length )

what is your weigth  : 88
what is your length  : 187
195.55555555555554
18700

In [9]:
import sys

In [42]:
import matplotlib

In [35]:
x = [4,5,10,4,3,11,14,6,10,12]

In [15]:
y = [21, 19, 24, 17, 16, 25, 24, 22, 21, 21]

In [16]:
print(type(x))

<class 'list'>

In [17]:
print(type(y))

<class 'list'>

In [18]:
print(x)

[4, 5, 10, 4, 3, 11, 14, 6, 10, 12]

In [19]:
print(y)

[21, 19, 24, 17, 16, 25, 24, 22, 21, 21]

In [20]:
x.append(33)

In [21]:
x.append(16)

In [38]:
import numpy as np

# Data points
data_points = np.array([
    [2, 10],  # A1
    [2, 5],   # A2
    [8, 4],   # A3
    [5, 8],   # A4
    [7, 5],   # A5
    [6, 4],   # A6
    [1, 2],   # A7
    [4, 9]    # A8
])

# Initial centroids (C1, C2, C3)
initial_centroids = np.array([
    [2, 10],  # C1
    [5, 8],   # C2
    [1, 2]    # C3
])

# Function to calculate Euclidean distance
def euclidean_distance(a, b):
    return np.linalg.norm(a - b)

# K-means algorithm
def k_means(data, centroids, max_iters=100):
    for _ in range(max_iters):
        # Step 1: Assign points to the nearest centroid
        clusters = [[] for _ in range(len(centroids))]
        for point in data:
            distances = [euclidean_distance(point, centroid) for centroid in centroids]
            nearest_centroid = np.argmin(distances)
            clusters[nearest_centroid].append(point)
        
        # Step 2: Update centroids
        new_centroids = np.array([np.mean(cluster, axis=0) if len(cluster) > 0 else centroids[i] 
                                  for i, cluster in enumerate(clusters)])
        
        # Check for convergence (if centroids do not change)
        if np.all(new_centroids == centroids):
            break
        
        centroids = new_centroids
    
    return clusters, centroids

# Run k-means algorithm
clusters, final_centroids = k_means(data_points, initial_centroids)

# Print the results
clusters, final_centroids

([[array([ 2, 10]), array([5, 8]), array([4, 9])],
  [array([8, 4]), array([7, 5]), array([6, 4])],
  [array([2, 5]), array([1, 2])]],
 array([[3.66666667, 9.        ],
        [7.        , 4.33333333],
        [1.5       , 3.5       ]]))

In [37]:
import numpy as np
from scipy.spatial import distance 



a = (1, 2)
b = (3,5)
dst = distance.euclidean(a,b)
print(dst)

3.605551275463989