In [1]:
x = 50

In [2]:
c = 80

In [3]:
def sum():
    sum = x + c
    return sum
print(sum())

130

In [1]:
w = 40

In [7]:
Ew = 500

In [8]:
age = 90

In [9]:
print(type(age))

<class 'int'>

In [10]:
print(age)

90

In [11]:
name =("evans")

In [12]:
print(name)

evans

In [13]:
print(type(name))

<class 'str'>

In [1]:
numbers_of_student = 100

In [2]:
print(numbers_of_student)

100

In [3]:
print(numbers_of_student)

100

In [1]:
print(type)

<class 'type'>

In [2]:
age = 45

In [3]:
print(type(age))

<class 'int'>

In [4]:
print(age)

45

In [6]:
name_of_student = "evans"

In [7]:
print(type(name_of_student))

<class 'str'>

In [8]:
print(name_of_student)

evans

In [9]:
Overdraft_payment = 40.000

In [10]:
print(type(Overdraft_payment))

<class 'float'>

In [11]:
print(Overdraft_payment)

40.0

In [14]:
gender_male = True

In [15]:
print(type(gender_male))

<class 'bool'>

In [16]:
print(gender_male)

True

In [1]:
age = 12
height = 7.5
is_married = True
name = "evans"

In [2]:
print(age)

12

In [3]:
print(height )

7.5

In [4]:
print(is_married)

True

In [5]:
print(name)

evans

In [6]:
print(type(name))

<class 'str'>

In [7]:
print(type(height))

<class 'float'>

In [8]:
print(type(is_married))

<class 'bool'>

In [13]:
is_student = False
salary = 800


if (is_student == False) and (salary >= 2000):
    print("you are eligible for this loan application")
else:
    print("you are not eligible for this loan application")

you are not eligible for this loan application

In [1]:
student_status = input("Are you a student, True or False:   ")
    
salary = int(input("what is your monthly salary after tax:  "))

if (student_status == "False") and (salary >= 2000):
    print("you are eligible for this loan application")
else:
    print("you are not eligible for this loan application")

Are you a student, True or False:   True
what is your monthly salary after tax:  3000
you are not eligible for this loan application

In [2]:
n = (1)

In [3]:
print(n)

1

In [4]:
print(type(n))

<class 'int'>

In [15]:
import calendar

In [16]:
cal = calendar.month(2023, 4)

In [17]:
print("here is the calendar:  ")

here is the calendar:

In [18]:
print(cal)

     April 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [19]:
import calendar

In [20]:
cal = calendar.month(1993, 7)

In [21]:
print("here is the calendar:  ")

here is the calendar:

In [22]:
print(cal)

     July 1993
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [1]:
import time

In [2]:
print(time)

<module 'time' (built-in)>

In [3]:
print(type(time))

<class 'module'>

In [9]:
amount_of_bank_loan_allowed = 20000

student_age_allowed_to_apply = 20

input("how old are you    ")

if student_age_allowed_to_apply <= 20:
    print("you are not qualified for this loan")
    
else:
    
    print("Congratulations you are qualified to apply for this loan")

how old are you    20
you are not qualified for this loan

In [18]:
product_price = 10,000

customer_payment = 5,000

input("how much do you have for your product ")


if customer_payment>=product_price:
    
    print("you are permited to purchase this item" )
    
else:
    print("your request has been Denied")

how much do you have for your product 10,000
your request has been Denied